@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

/* Setting the variables for when the user prefers dark theme  */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: var(--primary-dark);
    --primary-text-color: var(--primary-light);
    --text-rgb: 223, 231, 231;
    --bg-rgb: 40, 40, 40;
  }
}

/* Setting the variables for when the user prefers light theme  */
@media (prefers-color-scheme: light) {
  :root {
    --primary-bg-color: var(--primary-light);
    --primary-text-color: var(--primary-dark);
    --text-rgb: 40, 40, 40;
    --bg-rgb: 223, 231, 231;
  }
}

/* Default variables for the project
 Colors,
 Spacing, */

:root {
  --primary-color: #74abcf;
  --accent-color: #cf7497;
  --primary-dark: rgb(40, 40, 40);
  --primary-light: #dfe7e7;
  --medium-padding: 1rem;

  /* setting all the default values used throughout the site */

  color-scheme: light dark;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
}

/* trying to simplify my styles by making everything that needs display flex align-items center grouped together
 to minimize the amount times typing it */

#about,
footer ul,
footer,
#hero,
header ul,
header {
  display: flex;
  align-items: center;
}

/* Header Styles */

/* I made the header fixed so that it would always stay at the top of the screen
  I wanted to add the functionallity where it dissapears on scrollDown and reappears on scrollup 
  Also I want the background color to turn transparent when it reaches the top of the screen.
  But My time constraints and the current curriculum probably wouldn't want all of that right now. */
header {
  justify-content: space-between;
  background-color: var(--primary-bg-color);
  box-shadow: 0px -10px 20px var(--primary-text-color);
  padding: var(--medium-padding);
  position: fixed;
  z-index: 10;
  inset: 0 0 auto 0;
}

header .brand-name {
  font-size: 30px;
  font-weight: 800;
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
  padding: 0 var(--medium-padding);
}

header ul {
  gap: var(--medium-padding);
  list-style: none;
}

header li a {
  position: relative;
  color: var(--primary-text-color);
}

/* Here I am setting the after element on the links within the header to give them a custom underline 
 But I Wanted the underline only to show up when i am hovering over it 
 And I wanted it to grow out from the left side 
  so I set the width and height and background to be able to see something then I could
  set the scale to 0 so that it isn't visible at first
   and the transform origin to left so it grows from the left side. */

header li a::after {
  content: '';
  width: 100%;
  height: 0.2ex;
  background-color: var(--accent-color);

  position: absolute;
  bottom: 0;
  left: 0;

  transform: scaleX(0);
  transform-origin: left;

  transition: transform 200ms ease-in-out;
}

/* When a list Item is hovered scale the anchors after element to 1 */

header li:hover a::after {
  transform: scaleX(1);
}

/* Hero Section Styles */

/* I wanted to make the header touch the top of the screen so i could add a 
 scroll effect on the header/navbar but I didn't have the time to add javascript to the project
 and I also didn't want to start adding things that we haven't learned yet. */

#hero {
  position: relative;
  justify-content: space-around;
  height: 500px;
  width: 100%;
  top: 0;
  padding-top: 4rem;
  color: #000;

  z-index: -1;
}

/* I made the hero image just a background image on the heros before element to 
that I could filter it without effecting the other content within the header */

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('https://raw.githubusercontent.com/NateAyye/potential-portfolio/main/assets/images/hero-img.jpg');
  background-size: cover;

  z-index: -1;

  filter: blur(1px) brightness(1.2);
}

#hero .introduction {
  max-width: 400px;
  font-weight: 700;
  text-align: center;
  padding: 2rem;
  background-color: rgba(var(--text-rgb), 0.9);
  color: var(--primary-bg-color);
  border-radius: var(--medium-padding);

  box-shadow: 5px 5px 12px rgba(var(--bg-rgb), 0.9);
}

#hero .introduction h2 strong {
  font-size: 35px;
  font-weight: 800;
  color: var(--accent-color);
}

#hero img {
  max-width: 300px;
}
#about hr {
  height: 150px;
}

#about p {
  padding: var(--medium-padding);
}

/* Main Element Styling */

main {
  box-shadow: 0 0 10px rgba(var(--text-rgb), 0.2);
  display: flex;
  padding: 1rem;
}

/* Styling the Container for the projects so that it can handle the projects responsively
 I wanted to make this a grid so that I can change the layout depending on screen width */

/* I set the grid-template-columns so that i could have 3 even columns within my grid 
 then i set the grid auto rows to 200px so that it automatically makes every possible row that I will need be 200px
  */

main #projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  width: 100%;
  gap: var(--medium-padding);
  padding: var(--medium-padding);
}

#about h2,
main h3 {
  padding: 0 1rem;
  font-size: 50px;
}

/* Styling for the project containers */

#projects .project-container {
  border: 5px solid var(--primary-color);
  position: relative;
  background-size: cover;
}

.project-container div {
  position: absolute;
  bottom: 15%;
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  padding: var(--medium-padding);
  opacity: 0.9;

  transition: bottom 400ms ease-in-out;
}

/* Setting the first child of the .project-container to span across all 
 columns and also to span down 3 whole rows  */

.project-container:first-of-type {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

/* Setting the images withing the projects to be as large as its parent and the I want 
 the image to cover the whole area without having empty space (object-fit: cover) */

.project-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  filter: saturate(0.5) brightness(0.5);
  transition: filter 300ms ease-in-out;
}

.project-container:hover img {
  filter: saturate(1) brightness(1);
}

.project-container:hover div {
  bottom: 20%;
}

/* Footer Styles */

footer h5 {
  padding: var(--medium-padding) 1.5rem;
  font-size: 30px;
}

footer {
  justify-content: center;
}

footer hr {
  height: 2rem;
}

/* Footer Links */

footer ul {
  list-style: none;
  flex-grow: 1;
  justify-content: space-around;
  text-decoration: underline;
  text-decoration-thickness: 0.2ex;
  padding: var(--medium-padding) 2rem;
}

/* Handling screen width thats less than 738 pixels */
@media screen and (width < 738px) {
  /* Setting the grid to only use one column */
  main #projects {
    grid-template-columns: 1fr;
  }

  /* Setting the first child to only take up one row and column */

  main #projects .project-container:first-of-type {
    grid-column: 1;
    grid-row: 1;
  }

  footer ul {
    flex-direction: column;
  }
}
